body{
    background-color: gray;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: all; 
    transition: width .5 ease-in-out;*/
    transition: all .5s ease-in-out;
    .text{
        opacity: 0;
        color: yellow;
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
        transition: all .5s ease-in-out;
    }
    /* animation-duration: 2s;
    animation-name: kutuAnimasyon;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
    animation: kutuAnimasyon 2s infinite ease-in-out;
}

/* Bu sefer box ın içindeki
 text anlamına geliyo.
.box .text{
    opacity: 0; --//display: 0;
    color: yellow;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    transition: all .5s ease-in-out;
} */

/* .box.text//ikiside aynı element oluyo 
yazdığım şey ikisi içinde geçerli oluyo. */

.box:hover{
    background-color: blue;
    width: 200px;
    height: 200px;
    /* border-radius: 20px; */
    border-radius: 50%;
    .text{
        opacity: 1;/* display: 1; */
    }
}

@keyframes kutuAnimasyon{
    0%{
        background-color: red;
        transform: rotate(0deg);
        /* transform: translateX(0px); */
    }
    50%{
        background-color: yellow;
        transform: rotate(180deg);
        /* transform: translateX(100px); */
    }
    100%{
        background-color: red;
        transform: rotate(360deg);
        /* transform: translateX(0px); */
    }
}